.photo-grid__like-btn {
  width: 22px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/like-btn.svg);
  box-sizing: border-box;
  border: none;
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  transition: opacity linear .2s;
}

.photo-grid__like-btn:hover {
  opacity: .5;
  cursor: pointer;
}