.profile__info {
  display: flex;
  flex-direction: column; 
  align-self: center;
  padding-left: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 933px) {
  .profile__info  {
    padding: 22px 0 36px;
  }
}
