.pprofile__job {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 619px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

@media screen and (min-width: 620px) and (max-width: 933px) {
  .profile__job {
    text-align: center;
  }
}